:root {
	--color1: #3d52a0;
	--color2: #7091e6;
	--color3: #8697c4;
	--color4: #adbbda;
	--color5: #ede8f5;
	--dark-bg: #00000033;
	--bg-gradient: radial-gradient(var(--color4), var(--color3), var(--color2), var(--color1));
	--text-gradient: linear-gradient(135deg, var(--color1), var(--color2), var(--color1));

	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*  SCROLLBAR
  width */
::-webkit-scrollbar {
	width: 5px;
	height: 4px;
}
/* Track */
::-webkit-scrollbar-track {
	background: var(--color3);
	border-radius: 15px;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--color2);
	border-radius: 15px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--color1);
}

/* Constants */
a {
	color: inherit;
}
.nav-item {
	text-decoration: none;
}
body,
.logo,
.logo-text,
nav,
.card {
	will-change: filter;
	transition: filter 500ms;
}
