.slideshow {
	position: relative;
	margin: 0 auto -50px auto;
	height: fit-content;
	justify-content: center;
	align-items: center;
	user-select: none;
	z-index: 3;
	mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%) 100% 50% / 100% 100% repeat-x;
}

.each-slide-effect > img {
	max-width: 100vw;
	width: 200vh;
	max-height: 60vh;
	border-radius: 10px 10px 10px 10px;
	object-fit: cover;
	user-select: none;
}

.arrow {
	font-size: 3rem;
	color: var(--color3);
	filter: drop-shadow( 10px 10px 10px #000);
	background-color: transparent;
	border: none;
	z-index: 5;
	cursor: pointer;
	user-select: none;
}
.arrow-left {
	padding: 50% 20% 50% 0;
}
.arrow-right {
	padding: 50% 0 50% 20%;
}

/* .indicator {
	position: absolute;
	padding: 0px 10px;
	bottom: 30px;
	cursor: pointer;
	text-align: center;
	border: 1px blue solid;
	margin: 0;
	background-color: #00000022;
  }
  
  .indicator.active {
	color: #fff;
	background: #ffffff33;
  } */
/* 
.slide-number {
	position: absolute;
	text-shadow: 1px 1px 2px black, 0 0 25px grey, 0 0 5px white;
	top: 20px;
	z-index: 10;
	text-align: center;
}
*/
